.formula_card{
    --card--height: 135px;
    --card--width: 80dvw;
    --card--margin: 1em;

    --card--skeleton-color: #cccccc;

    box-sizing: border-box;

    display: flex;
    width: var(--card--width);
    height: var(--card--height);
    background-color: white;
    padding: var(--card--margin) ;
    margin-bottom: 2em;
}

.formula_card * {
    pointer-events: none;
}

.formula_card > .img{
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--card--skeleton-color);
}

.formula_card > .holder{
    width: calc(var(--card--width) - var(--card--height) - var(--card--margin));
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.formula_card > .holder > .formula{
    font-weight: bolder;
    font-size: 1.4em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
}

.formula_card > .holder > .tag_container{
    width: 100%;
    margin-top: 5px;
    display: flex;
}

.formula_card > .holder > .tag_container > .tag{
    width: fit-content;
    color: white;
    font-weight: bolder;
    padding: .35em .7em;
    background-color: black;
    margin-right: .7em;
    font-size: .8em;
}

.formula_card > .holder > .bottom{
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.formula_card > .holder > .bottom > .name{
    font-weight: bolder;
    font-size: 1.4em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
}

.formula_card > .holder > .bottom > .options_holder{
    display: flex;
}

.formula_card > .holder > .bottom > .options_holder > .option{
    height: 1.4em;
    width: 1.4em;
    background-color: var(--card--skeleton-color);
    margin-left: 10px;
}