<div class="container">
	<div class="container__case">
		<span class="container__case__name"> {{ .Name }} </span>
		<img class="container__case__img">
	</div>
	<div class="container__form">
		<div class="container__form__container">
			{{ range .Formulas }}
				<div class="container__form__holder">
					<div class="container__form__holder__top">
						<span class="container__form__holder__top__alg"> {{ .Solver }} </span>
						<div class="container__form__holder__top__tags">
							{{ range .Tags }}
								<div class="container__form__holder__top__tags__tag">{{ . }}</div>
							{{ end }}
						</div>
					</div>
					<div class="container__form__holder__bot">
						<div class="container__form__holder__bot__info">
							<span class="container__form__holder__bot__info__alg_name">  </span>
							<div class="container__form__holder__bot__info__options">
								<div class="container__form__holder__bot__info__options__opt"></div>
								<div class="container__form__holder__bot__info__options__opt"></div>
							</div>
						</div>
					</div>
				</div>
			{{ end }}
		</div>
		{{ if gt (len .Formulas) 1 }}
			<div class="container__form__bot__carrossel">
				{{ range $index, $form := .Formulas }}
					{{ if eq $index 0 }}
						<div class="container__form__bot__carrossel__logger container__form__bot__carrossel__logger--active"></div>
					{{ else }}
						<div class="container__form__bot__carrossel__logger"></div>
					{{ end }}
				{{ end }}
			</div>
		{{ end }}
	</div>
</div>