#formulas_holder{

    --workable-width: calc(100dvw - (var(--left-margin) * 2));
    --formula-width:  calc(var(--workable-width) - var(--photo-size) - var(--elemnt-margins));

    margin: 20px var(--left-margin) 0 var(--left-margin);
    width: var(--workable-width);
    height: 69.5dvh;

    overflow: scroll;

    --photo-size: 30dvw;
    --elemnt-margins: .7em;

}


.formula_card{

    width: 100%;

    display: flex;
    flex-direction: column;

}

.formula_card__case_name{
    margin-bottom: var(--elemnt-margins);
    background-color: red;
}

.formula_card__case_container{

    background-color: black;

    width: inherit;
    height: var(--photo-size);

    display: flex;

}

.formula_card__case_container__photo{
    background-color: green;

    width: var(--photo-size);
    height: var(--photo-size);
    flex-shrink: 0;
    margin-right: var(--elemnt-margins);
}

.formula_card__case_container__holder{
    background-color: yellow;
    height: 100%;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.formula_card__case_container__holder__formulas_holder{

    width: var(--formula-width);
    height: 100%;

    background-color: blue;

    display: flex;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

/* #region FORMULA */

.formula_card__case_container__holder__formulas_holder__formula{

    scroll-snap-align: start;
    scroll-snap-stop: always;

    width: inherit;
    height: 100%;
    flex-shrink: 0;

    background-color: chocolate;

    margin-right: 20px;

    /*To let the bottom be always at bottom*/
    display: flex;
    flex-direction: column;

}

.formula_card__case_container__holder__formulas_holder__formula__movements{
    margin-bottom: .3em;
    
}

/* #region TAGS */

/* CSS to style the tags holder */
.formula_card__case_container__holder__formulas_holder__formula__tags{
    display: flex;
}

/* CSS to style the tag */
.formula_card__case_container__holder__formulas_holder__formula__tag{

}

/* Add a little dot after every tag */
.formula_card__case_container__holder__formulas_holder__formula__tag::after{
    content: '•';
    margin: 0 10px;
}

/* Remove the little dot from the last tag */
.formula_card__case_container__holder__formulas_holder__formula__tag:last-child::after{
    content: none;
}

/* #endregion */

/* #region BOTTOM */

.formula_card__case_container__holder__formulas_holder__formula__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.formula_card__case_container__holder__formulas_holder__formula__bottom__formula_name{

}

.formula_card__case_container__holder__formulas_holder__formula__bottom__actions{
    display: flex;
}

.formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action{
    font-size: 25px;

    margin-left: 10px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action::before{
    --action-clickabe-area: 35px;
    
    content: "";
    position: absolute;

    width: var(--action-clickabe-area);
    height: var(--action-clickabe-area);
}

/* #endregion */

/* #endregion */

/* #region CARROSSEL */

.formula_card__case_container__holder__carrossel_holder{

    width: var(--formula-width);
    height: 20px;

    background-color: aquamarine;

    display: flex;
    align-items: center;
    justify-content: center;

}

.formula_card__case_container__holder__carrossel_holder__dot{

    --dot-size: 6px;

    width: var(--dot-size);
    height: var(--dot-size);

    background-color: black;
    border-radius: var(--dot-size);

    margin: 0 3px;

    transition: width ease .3s;

}

.formula_card__case_container__holder__carrossel_holder__dot--active{
    width: 11px;
}

/* #endregion */