{{ define "comment" }}
<div class="text_post__comments__comment">
    <div class="text_post__comments__comment__header">
        <div class="text_post__comments__comment__header__profile"></div>
        <div class="text_post__comments__comment__header__info">
            <p class="text_post__comments__comment__header__info__name"> {{ .Author }} </p>
            <p class="text_post__comments__comment__header__info__date"> {{ .Date }} </p>
        </div>
    </div>
    <p class="text_post__comments__comment__body">
        {{ .Body }}
    </p>
</div>
{{ end }}