body{
    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-content: center;

    background-color: gray;
}

.formula_card{

    --card--height: 100px;
    --card--width: 75dvw;
    --card--margin: 1em;

    display: flex;
    width: var(--card--width);
    height: var(--card--height);
    background-color: white;
    padding: var(--card--margin) ;
}

.formula_card__img{
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(56, 124, 183);
}

.formula_card__holder{
    width: calc(var(--card--width) - var(--card--height) - var(--card--margin));
    /* overflow-x: hidden; */
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.formula_card__holder__formula{
    font-weight: bolder;
    font-size: 1.4em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
}

.formula_card__holder__tag_container{
    width: 100%;
    margin-top: 5px;
    display: flex;
}

.formula_card__holder__tag_container__tag{
    width: fit-content;
    color: white;
    font-weight: bolder;
    padding: .35em .7em;
    border-radius: 8px;
    background-color: black;
    margin-right: .7em;
    font-size: .8em;
}

.formula_card__holder__bottom{
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.formula_card__holder__bottom__name{
    font-weight: bolder;
    font-size: 1.4em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
}

.formula_card__holder__bottom__options_holder{
    display: flex;
}

.formula_card__holder__bottom__options_holder__option{
    height: 1.4em;
    width: 1.4em;
    background-color: red;
    margin-left: 10px;
}

#container{

    width: 100dvw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    background-color: gray;

}

.card{

    width: 100%;
    height: 200px;

    background-color: white;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto 50px auto;

    flex-shrink: 0;

}

.card > span {

    font-weight: bold;
    font-size: 1.5em;

}

#holder{

    display: flex;
    flex-direction: column;

    border: 1px solid black;
}

#load_trigger{

    width: 100%;
    height: 30px;
    background-color: red;

}