#container{

    width: 100dvw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    background-color: gray;

}

.card{

    width: 100%;
    height: 200px;

    background-color: white;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto 50px auto;

    flex-shrink: 0;

}

.card > span {

    font-weight: bold;
    font-size: 1.5em;

}

#holder{

    display: flex;
    flex-direction: column;

    border: 1px solid black;
}

#load_trigger{

    width: 100%;
    height: 30px;
    background-color: red;

}