body{
    width: 100dvw;
    height: auto;

    display: flex;
    align-content: center;
    flex-direction: column;

    background-color: gray;
}

#container{

    width: 100dvw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    background-color: gray;

}

#holder{
    display: flex;
    flex-direction: column;
}

#load_trigger{
    width: 100%;
    height: 30px;
    background-color: red;
}