<div class="formula_card">

    <p class="formula_card__case_name">Case 01</p>
    <div class="formula_card__case_container">

        <div class="formula_card__case_container__photo"></div>

        <div class="formula_card__case_container__holder">

            <div onscroll="swipeCarrossel(this)" class="formula_card__case_container__holder__formulas_holder">

                <div class="formula_card__case_container__holder__formulas_holder__formula">

                    <p class="formula_card__case_container__holder__formulas_holder__formula__movements">F' L R U L' F</p>

                    <div class="formula_card__case_container__holder__formulas_holder__formula__tags">
                        <p class="formula_card__case_container__holder__formulas_holder__formula__tag">Faster</p>
                        <p class="formula_card__case_container__holder__formulas_holder__formula__tag">Fridrich</p>
                    </div>

                    <div class="formula_card__case_container__holder__formulas_holder__formula__bottom">

                        <p class="formula_card__case_container__holder__formulas_holder__formula__bottom__formula_name">Pesca</p>

                        <div class="formula_card__case_container__holder__formulas_holder__formula__bottom__actions">
                            <p onclick="formulaAction('learn')" class="icons formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action">&#xe807</p>
                            <p onclick="formulaAction('fav')" class="icons formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action">&#xe808</p>
                        </div>

                    </div>

                </div>

                <div class="formula_card__case_container__holder__formulas_holder__formula">

                    <p class="formula_card__case_container__holder__formulas_holder__formula__movements">F' L R U L' F</p>

                    <div class="formula_card__case_container__holder__formulas_holder__formula__tags">
                        <p class="formula_card__case_container__holder__formulas_holder__formula__tag">Faster</p>
                        <p class="formula_card__case_container__holder__formulas_holder__formula__tag">Fridrich</p>
                    </div>

                    <div class="formula_card__case_container__holder__formulas_holder__formula__bottom">

                        <p class="formula_card__case_container__holder__formulas_holder__formula__bottom__formula_name">Pesca</p>

                        <div class="formula_card__case_container__holder__formulas_holder__formula__bottom__actions">
                            <p onclick="formulaAction('learn')" class="icons formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action">&#xe807</p>
                            <p onclick="formulaAction('fav')" class="icons formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action">&#xe808</p>
                        </div>

                    </div>

                </div>

                <div class="formula_card__case_container__holder__formulas_holder__formula">

                    <p class="formula_card__case_container__holder__formulas_holder__formula__movements">F' L R U L' F</p>

                    <div class="formula_card__case_container__holder__formulas_holder__formula__tags">
                        <p class="formula_card__case_container__holder__formulas_holder__formula__tag">Faster</p>
                        <p class="formula_card__case_container__holder__formulas_holder__formula__tag">Fridrich</p>
                    </div>

                    <div class="formula_card__case_container__holder__formulas_holder__formula__bottom">

                        <p class="formula_card__case_container__holder__formulas_holder__formula__bottom__formula_name">Pesca</p>

                        <div class="formula_card__case_container__holder__formulas_holder__formula__bottom__actions">
                            <p onclick="formulaAction('learn')" class="icons formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action">&#xe807</p>
                            <p onclick="formulaAction('fav')" class="icons formula_card__case_container__holder__formulas_holder__formula__bottom__actions__action">&#xe808</p>
                        </div>

                    </div>

                </div>

            </div>

            <div class="formula_card__case_container__holder__carrossel_holder">
                <div class="formula_card__case_container__holder__carrossel_holder__dot formula_card__case_container__holder__carrossel_holder__dot--active"></div>
                <div class="formula_card__case_container__holder__carrossel_holder__dot"></div>
                <div class="formula_card__case_container__holder__carrossel_holder__dot"></div>
            </div>

        </div>

    </div>

</div>