/*BUGADO*/
#nav-bar{
    width: 100dvw;
    box-sizing: border-box;
    padding: 15px calc(20dvw / 2);
    height: 100px;
    background-color: rgb(54, 54, 54);
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__page{

    height: 75%;
    aspect-ratio: 1 / 1;
    background-color: white;

}

.nav-bar__page--selected{
    height: 100%;
}