#actionbar{
    width: 100dvw;
    height: 4.3em;
    background-color: var(--main-color);

    position: fixed;
    bottom: 0;

    --b-radius: 25px;

    border-radius: var(--b-radius) var(--b-radius) 0 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 -4px white;
}

.actionbar__icons{

    height: 100%;
    display: flex;
    align-items: center;

    font-size: 2em;
    color: var(--thirdy-color);
    height: 55%;
}

.actionbar__icons--active{
    color: white;
    font-size: 2.4em;
}