.case_card{

    width: 100%;

    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    --workable-width: calc(100dvw - (var(--left-margin) * 2));
    --formula-width:  calc(var(--workable-width) - var(--photo-size) - var(--elemnt-margins));

    --photo-size: 30dvw;
    --elemnt-margins: .7em;

}

.case_card__case_name{
    margin-bottom: var(--elemnt-margins);
    
    font-size: 1.25em;
    font-weight: bold;
    color: var(--secondary-color);
}

.case_card__case_container{

    width: inherit;
    height: var(--photo-size);

    display: flex;

}

.case_card__case_container__photo{
    background-color: var(--main-color);

    width: var(--photo-size);
    height: var(--photo-size);
    flex-shrink: 0;
    margin-right: var(--elemnt-margins);
}

.case_card__case_container__holder{
    height: 100%;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.case_card__case_container__holder__formulas_holder{

    width: var(--formula-width);
    height: 100%;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

/* #region FORMULA */

.case_card__case_container__holder__formulas_holder__formula{

    scroll-snap-align: start;
    scroll-snap-stop: always;

    width: inherit;
    height: 100%;
    flex-shrink: 0;

    margin-right: 20px;

    /*To let the bottom be always at bottom*/
    display: flex;
    flex-direction: column;

}

.case_card__case_container__holder__formulas_holder__formula__movements{
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--main-color);
    
    margin-bottom: .3em;
}

/* #region TAGS */

/* CSS to style the tags holder */
.case_card__case_container__holder__formulas_holder__formula__tags{
    display: flex;
}

/* CSS to style the tag */
.case_card__case_container__holder__formulas_holder__formula__tag{
    font-size: .8em;
    font-weight: bold;
    color: var(--thirdy-color);
}

/* Add a little dot after every tag */
.case_card__case_container__holder__formulas_holder__formula__tag::after{
    content: '•';
    margin: 0 10px;
}

/* Remove the little dot from the last tag */
.case_card__case_container__holder__formulas_holder__formula__tag:last-child::after{
    content: none;
}

/* #endregion */

/* #region BOTTOM */

.case_card__case_container__holder__formulas_holder__formula__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.case_card__case_container__holder__formulas_holder__formula__bottom__formula_name{
    font-size: 1.1em;
    font-weight: bold;
    color: var(--secondary-color);
}

.case_card__case_container__holder__formulas_holder__formula__bottom__actions{
    display: flex;
}

.case_card__case_container__holder__formulas_holder__formula__bottom__actions__action{
    font-size: 25px;
    color: var(--secondary-color);

    margin-left: 10px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case_card__case_container__holder__formulas_holder__formula__bottom__actions__action::before{
    --action-clickabe-area: 35px;
    
    content: "";
    position: absolute;

    width: var(--action-clickabe-area);
    height: var(--action-clickabe-area);
}

/* #endregion */

/* #endregion */

/* #region CARROSSEL */

.case_card__case_container__holder__carrossel_holder{

    width: var(--formula-width);
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.case_card__case_container__holder__carrossel_holder__dot{

    --dot-size: 6px;

    width: var(--dot-size);
    height: var(--dot-size);

    background-color: var(--main-color);
    border-radius: var(--dot-size);

    margin: 0 3px;

    transition: width ease .3s;

}

.case_card__case_container__holder__carrossel_holder__dot--active{
    width: 11px;
}

/* #endregion */