#navbar{

    --vertical-spacing: 20px;
    --horizontal-spacing: var(--left-margin);

    width: 100dvw;
    height: 75px;

    display: flex;
    justify-content: space-between;

    padding: var(--vertical-spacing) var(--horizontal-spacing) 0 var(--horizontal-spacing);

}

#navbar > .holder{
    width: fit-content;
    height: 100%;
    
    display: flex;
    align-items: center;
}

#profile{
    height: 100%;
    aspect-ratio: 1 / 1;

    background-color: var(--main-color);
    border-radius: 100%;

    margin-left: 20px;
}

.bolder{
    font-size: 1.3em;
    color: var(--main-color);
}

.navbar__left__icon{
    font-size: 25px;
    color: var(--main-color);
    margin-right: 12px;
}

#navbar__left__menu{
    margin-right: 25px;
}

#navbar__right__section{
    display: flex;
    align-items: center;

    font-weight: 500;
    color: var(--secondary-color);
    cursor: default;
    font-size: .7em;
}

.little_dot{
    --size: 4px;
    width: var(--size);
    height: var(--size);

    background-color: var(--secondary-color);
    border-radius: 100%;

    margin: 0 10px;
}