#navbar{

    --vertical-spacing: 20px;
    --horizontal-spacing: var(--left-margin);

    width: 100dvw;
    height: 75px;

    display: flex;
    justify-content: space-between;
    z-index: 2;

    padding: var(--vertical-spacing) var(--horizontal-spacing) 0 var(--horizontal-spacing);

}

#navbar > .holder{
    width: fit-content;
    height: 100%;
    
    display: flex;
    align-items: center;
}

#profile{
    height: 100%;
    aspect-ratio: 1 / 1;

    background-color: var(--main-color);
    border-radius: 100%;

    margin-left: 20px;
}

.navbar__right__section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__right__section::after{
    color: var(--main-color);
    font-size: 1.5em;
    content: '•';
    margin: 0 10px;
}

.navbar__right__section:last-child::after{
    content: none;
}

.navbar__right__section.bolder{
    font-size: 1.3em;
    color: var(--main-color);
}

.navbar__left__icon{
    font-size: 23px;
    color: var(--main-color);
    margin-right: 12px;
}

#navbar__left__menu{
    margin-right: 25px;
}

#navbar__right__section{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    color: var(--secondary-color);
    cursor: default;
    font-size: .7em;
}

.little_dot{
    --size: 4px;
    width: var(--size);
    height: var(--size);

    background-color: var(--secondary-color);
    border-radius: 100%;

    margin: 0 10px;
}

#holder__greet{
    font-weight: bold;
    color: var(--main-color);
    font-size: 1.3em;
    margin-right: 10px;
}

/* #region Filter selection indicator */

#navbar__left__icon__filter::after{
    visibility: hidden;

    content: attr(data-filter-count);
    font-size: 10px;
    font-family: Arial;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    width: 16px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 2px solid white;
    background-color: var(--main-color);

    position: relative;
    transform: translate(-12px, -12px);

}

#navbar__left__icon__filter[data-filter-visible="false"]::after {
    visibility: hidden;
}

#navbar__left__icon__filter[data-filter-visible="true"]::after {
    visibility: visible;
}

/* #endregion */