#formPopUp__controls{

    width: 300px;
    height: fit-content;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}

.formPopUp__controls__btn{
    width: 30px;
    height: 30px;
}

.formPopUp__controls__btn > img {
    width: 100%;
    height: 100%;
}