.form_animation{
    width: 100dvw;
    height: 100dvh;

    backdrop-filter: blur(3px);

    position: absolute;

    display: none;
    align-items: center;
    justify-content: center;
}

.form_animation--active{
    display: flex;
}

#form_animation__holder{
    width: 80%;
    height: 50%;

    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.42);
    background-color: white;

    box-sizing: border-box;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form_animation__holder__cube_holder{
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#form_animation__holder__cube_holder__options{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}

.form_animation__holder__cube_holder__options__opt{
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(119, 119, 119);
}