#formPopUp__movements{
    width: 300px;
    height: 50px;
    margin-bottom: -30px;
    background-color: white;
    overflow: hidden;
}

#formPopUp__movements__holder{
    width: fit-content;
    height: 100%;

    display: flex;
    align-items: center;
    transition: transform ease .3s;
}

.formPopUp__movements__holder__movement{
    font-size: 1.5em;
    font-weight: bolder;
    margin-right: 10px;
    color: rgb(172, 172, 172);
    transition: color ease .5s;
}

.formPopUp__movements__holder__movement--active{
    font-size: 2.5em;
    color: rgb(69, 255, 69);
}