#formPopUp__options_holder{
    width: 300px;
    height: 30px;
    /*WHY IS NOT 40PX?????*/
    margin-top: -20px;
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.formPopUp__options_holder__option{
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(169, 169, 169);
    margin: 0 10px;
}