#other_methods{ 
    width: calc(100% - 60px);
    height: fit-content;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.alternate-login{
    background-color: var(--fourty-color);
    color: white;
    font-size: 1.2em;

    display: flex;
    align-items: center;

    padding: 7px 20px 7px 10px;
    border-radius: 100px;

    transition: 
        color            ease-in .3s,
        background-color ease-in .3s,
        transform        ease-in .3s;
}

.alternate-login:active{
    background-color: var(--thirdy-color);
    color: var(--fourty-color);
    transform: scale(.95);
}

.alternate-login > .icons{
    font-size: 1.7em;
    margin-right: 10px;
}