@font-face {
    font-family: icons;
    src: url(/static/fonts/icons.ttf);
}


body{
    width: 100dvw;
    height: 100dvh;

    --main-color:      #434343;
    --secondary-color: #787878;
    --thirdy-color:    #a2a2a2;
    --fourty-color: #c3c3c3;

    --card-main-color: #434343;
    --card-seco-color: #787878;

    --left-margin: 30px;

    padding: 7dvh 0;

    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: 'arial';
}

/* Hide scrollbars in Firefox, Chrome, Edge */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

a{
    text-decoration: none;
}

.icons{
    font-family: icons;
}

#container{
    --width: calc(100% - 60px); 

    --v-padding: 160px;
    --h-padding: 30px;

    position: relative; /*To let the #buttonHolder be snapped at the bottom*/

    width: 100dvw;
    flex-grow: 1;
    overflow: hidden;
    padding: 0 var(--h-padding);

    background-color: white;

    margin: 8dvh 0;
}

#logo{
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 14dvh;

    background-color: var(--main-color);
}