<div class="text_post">
    <div class="text_post__header">
        <p class="text_post__header__title">New World Record!</p>
        <p class="text_post__header__time">22 aug 2024 • 14:37</p>
    </div>
    <p class="text_post__body">To be more specific, the possibility of achieving in the context of effective mechanism, as far as the global management concepts is questionable, provides a foundation for The Strategy of Authorized Broadband</p>
    <div class="text_post__foot">
        <div class="text_post__foot__line"></div>
        <div class="text_post__foot__actions">
            <div class="text_post__foot__actions__action">
                <span class="icons like text_post__foot__actions__icon">&#xE800;</span>
                <span class="like text_post__foot__actions__number">2k</span>
            </div>
            <div class="text_post__foot__actions__action">
                <span class="icons surprise text_post__foot__actions__icon">&#xE80C;</span>
                <span class="surprise text_post__foot__actions__number">1k</span>
            </div>
            <div class="text_post__foot__actions__action">
                <span class="icons love text_post__foot__actions__icon">&#xE80D;</span>
                <span class="love text_post__foot__actions__number">1k</span>
            </div>
        </div>
    </div>
    <div class="text_post__comments">
        <div class="text_post__comments__holder hidden">
            <div class="text_post__comments__comment">
                <div class="text_post__comments__comment__header">
                    <div class="text_post__comments__comment__header__profile"></div>
                    <div class="text_post__comments__comment__header__info">
                        <p class="text_post__comments__comment__header__info__name">Khelbia Terminelis</p>
                        <p class="text_post__comments__comment__header__info__date">22 aug 2024 • 14:37</p>
                    </div>
                </div>
                <p class="text_post__comments__comment__body">
                    Let's consider, that the optimization of the mechanism can hardly be compared with The Dynamics of Large-Scale Facility (Paris Mead in The Book of the Application Interface)
                </p>
            </div>
        </div>
        <div class="text_post__comments__expand">See more</div>
        <div class="text_post__comments__shadow"></div>
    </div>
</div>