<div class="text_post">
    <div class="text_post__header">
        <p class="text_post__header__title"> {{ .Title }} </p>
        <p class="text_post__header__time"> {{ .Date }} </p>
    </div>
    {{ template "body" .Body }}
    {{ template "footer" .Interations }}
    <div class="text_post__comments">
        <div class="text_post__comments__holder hidden">
        {{ range .Comments }}
            {{ template "comment" . }}
        {{ end }}
        </div>
        {{ if .Comments }}
            <div class="text_post__comments__expand">See more</div>
            <div class="text_post__comments__shadow"></div>
        {{ end }}
    </div>
</div>